<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 3000); </script>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
    <!-- bootstrap core css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- responsive style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <title>Login Page</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>SIH</title>
    
<!-- header section strats -->
   <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <div class="navbar-brand" >
            <img src="{{url_for('static', filename= 'images/code.png')}}" alt="" /><span>
              TEAM STOCHASTIC
            </span>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


              <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">


            <div class="quote_btn-container ml-0 ml-lg-4 d-flex justify-content-center">
              <a href="/details" class="text-uppercase custom_orange-btn mr-3">
                             Read More

              </a>
                </div>

          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <div class="container mt-2 mb-4">
  <div class="col-sm-8 ml-auto mr-auto">
    <div class="nav nav-pills nav-fill mb-1" id="pills-tab" role="tablist">
      <div class="nav-item"> <a class="nav-link active" style="color: #f7f7f7; background-color: #fc5d35;" id="pills-signin-tab" data-toggle="pill" href="#pills-signin" role="tab" aria-controls="pills-signin" aria-selected="true">Sign In</a> </div>

    </div>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-signin" role="tabpanel" aria-labelledby="pills-signin-tab">
        <div class="col-sm-12 border border-primary shadow rounded pt-2">
          <div class="text-center">
           <span class="fa-stack fa-3x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
               <i class="fa fa-user fa-stack-1x"></i>
            </span>
             </div>
            
    <form method="post" id="singninFrom">
            <div class="form-group">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for msg in messages %}
                  <div id="successMessage" class="alert alert-info mb-3" role="alert">
                    {{ msg }}
                  </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
                
                <label class="font-weight-bold">Email <span class="text-danger">*</span></label>
              <input type="email" name="email" id="email" class="form-control" placeholder="Enter valid email" required>
            </div>
            <div class="form-group">
              <label class="font-weight-bold">Password <span class="text-danger">*</span></label>
              <input type="password" name="password" id="password" class="form-control" placeholder="***********" required>
            </div>
              <div class="form-group">
                    <label ><input type="radio" name="Login" value="u"checked>&nbsp;Login As User</label> &emsp;
                    <label><input type="radio" name="Login" value="a">&nbsp;Login As Admin</label>
              </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label><input type="checkbox" name="condition" id="condition"> Remember me.</label>
                </div>
                <div class="col text-right"> <a href="javascript:;" data-toggle="modal" data-target="#forgotPass">Forgot Password?</a> </div>
              </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                   <input type="submit" name="submit" value="Sign In" class="custom_orange-btn mr-3" >
                 </div>
            </div>
              <br>
              <div class="form-group">
                  <div class="col text-center"> <a href="/signup" >Don't Have an Account? Signup now</a> </div>
              </div>
          </form>
        </div>
      </div>

    </div>
  </div>