<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 2000); </script>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>User</title>

  <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- responsive style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  </head>

<body>
  <div class="hero_area sub_pages">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="/uDashboard">
            <img src="{{url_for('static', filename= 'images/code.png')}}" alt="" /><span>
              TEAM STOCHASTIC
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">

             <a class="navbar-brand" href=""> <span>Welcome, {{value_username}}</span></a>
            <div class="quote_btn-container ml-lg-4 d-flex justify-content-center">

              <a href="/sign_out" class="text-uppercase custom_orange-btn mr-3">
                             Sign Out

              </a>
                </div>

          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

  </div>



  <!-- contact section -->
    <section class="contact_section layout_padding">
      <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for msg in messages %}
            <div id="successMessage" class="alert alert-success mb-3" role="alert">
              {{ msg }}
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <h2 class="font-weight-bold">
          Submit your Grievances
        </h2>
        <div class="row">
          <div class="col-md-8 mr-auto">
            <form name="frmImage" enctype="multipart/form-data" action="/to_db" method="POST">
              <div class="contact_form-container">
                <div>
                  <div>
                      <label>Upload the image</label>
                    <input type="file" placeholder="Upload image" name="userImage" required>
                  </div>


                  <div class="mt-5">
                      <label>Describe Your Complaint</label>

                    <input type="text" placeholder="Describe your complaint" name='description'>
                  </div>

                    <div class="mt-5">

      <label>Category</label>


      <select class="custom-select" name="category" required>
                      <option value="">Select Category</option>
                      <option value="Agriculture">Agriculture</option>
                      <option value="Forestry">Forestry</option>
                      <option value="governance">E-governance</option>
                      <option value="Water">Water</option>
          <option value="Tourism">Tourism</option>
          <option value="Urban">Urban</option>
          <option value="Rural">Rural</option>
                      </select>


                    </div>




                  <div class="mt-5">
                    <button type="submit" name="submit">
  				Send
  				</button>



                  </div>
                </div>

              </div>

            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact section -->






    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

    
  <!-- google map js -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap">
  </script>
  <!-- end google map js -->
</body>

</html>