<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />



  <title>User</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- responsive style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

  <style>
      .card-horizontal {
display: flex;
flex: 1 1 auto;
      }
 .w-100
      {
          padding: 20px;
          height: inherit;
          width: inherit;
      }
      .card-block
      {
          padding: 20px;
      }
      .img{
          width: / !important; /*Keep the aspect ratio of the image*/
height: 140px !important;
margin: 0 auto 1em auto;
      }
  </style>
</head>

<body class="hero_area sub_pages">
  <div class="hero_area sub_pages">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="/uDashboard">
            <img src="{{url_for('static', filename= 'images/code.png')}}" alt="" /><span>
              TEAM STOCHASTIC
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">

             <a class="navbar-brand" href=""> <span>Welcome, {{value_username}}</span></a>
            <div class="quote_btn-container ml-lg-4 d-flex justify-content-center">

              <a href="/sign_out" class="text-uppercase custom_orange-btn mr-3">
                             Sign Out

              </a>
                </div>

          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->





  <!-- contact section -->
      <section class="service_section layout_padding ">




         <div class="container">
             <h2 class="font-weight-bold text-center">
        Re-Submit your Grievances
      </h2>

</div>

<section>
<div class="container py-3">
<div class="card">
<br>


<div class="row ">



<div class="col-md-4">
  <form name="frmImage" enctype="multipart/form-data" action="/reupload_grievances" method="POST">
      <div class="pre_img" >
        <br>
      <span>
      <img class="prw_img"  src="{{url_for('file', filename=image['userImage_name'] )}}"  alt="your image" class="img" width="120" height="120"   />
      </span>
      </div>
      <center>
      <br>
      <span class="head"></span>
          <div class="fileUpload blue-btn btn width100">
      <span>Upload Image</span>
        <input type="file" onchange="readURL(this)" class="uploadlogo" name="userImage" required/>
      </div>
      </center>
</div>

<div class="col-md-8 px-3">
  <div class="card-block px-3">

  <div class="contact_form-container">
    <div>
      <div class="text-left">
          <label>Describe Your Complaint : &ensp;</label>
          <input type="text" name="_id" value="{{ image['_id'] }}" hidden>
        <input type="text" placeholder= "{{image['imgDescription']}}" value="{{image['imgDescription']}}" name='description' style=" border-top-style: hidden;
                                                                      border-right-style: hidden;
                                                                      border-left-style: hidden;
                                                                      border-bottom-style: groove; line-height:100px;">

      </div>

        <div class="mt-5 text-left">

<label >Category : &ensp;</label>


<select style="width: 350px" name="category" id="cat" required>
                <option value="">Select Category</option>
                <option value="Agriculture">Agriculture</option>
                <option value="Forestry">Forestry</option>
                <option value="governance">E-governance</option>
                <option value="Water">Water</option>
    <option value="Tourism">Tourism</option>
    <option value="Urban">Urban</option>
    <option value="Rural">Rural</option>
                </select>


        </div>




      <div class="mt-5">
        <button type="submit" name="submit">
          Send
        </button>
      </div>
    </div>

  </div>

</form>
  </div>
</div>

</div>
</div>
</div>
</section>
          </section>
       </div>
       <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
   <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
      <script  src="{{url_for('static', filename= 'js/script.js')}}" ></script>
  <!-- end contact section -->

</body>

</html>